@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-image: url(/images/S919SiU.png);
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 100%;
font-size: 20px;
  line-height: 1.3;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


.btn,
.btn:link,
.btn:visited {
  color: gold;
  background-color: rgb(68, 68, 68);
 
  border: none;
  border-radius: 0.4rem;
  line-height: 1;
  transition: 0.3s all ease-in-out;
  padding: 1rem 1.6rem;
  transition: all 0.3s;
  
  cursor: pointer;
  backface-visibility: hidden;
  text-transform: uppercase;
}
.btn1,
.btn1:link,
.btn1:visited {
  color: gold;
  background-color: rgb(68, 68, 68);

  border: none;
  border-radius: 0.4rem;
  line-height: 1;
  transition: 0.3s all ease-in-out;
  padding: 2rem 1.6rem;
  transition: all 0.3s;
  
  cursor: pointer;
  backface-visibility: hidden;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Nosifer', cursive;
}

.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  background-color: rebeccapurple;
  color: white;
}
.btn1:hover{
  background-color: rebeccapurple;
  color: white;
}
.btn1:focus,.btn1:link:focus,.btn1:visited:focus{
  outline: none;
}
.btn1:active,
.btn1:link:active,
.btn1:visited:active {
  transform: scale(0.95);
}
.btn:focus,
.btn:link:focus,
.btn:visited:focus {
  outline: none;
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  transform: scale(0.95);
}
.header__title{
  font-family: 'Nosifer', cursive;
}
.header {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(130deg, black, #ffffff, gold);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}
@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
.header > * {
  cursor: pointer;
}
.header__icon {
  position: relative;
}
.header__icon--total {
  border-radius: 30%;
  font-size: 1.5rem;
  position: absolute;
  bottom: -25%;
  right: -65%;
}
.container {
  padding: 10rem 5rem 1rem;
 max-width: 1200px;
  min-height: 100vh;
  margin-left: 17%;
}
.container .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}
.btn1{

  border: none;

 
}
.container .products > * {
background-color: rgba(192, 191, 191, 0.555);
 border-radius: 20px;
 box-shadow: 5px 10px rgba(80, 80, 80, 0.575);
 
  text-align: center;
  padding: 1rem 0;
}
.cartItem{
background-color: rgba(184, 184, 184, 0.801);
width: 600px;
padding-left: 20px;
padding-top: 20px;
margin-top: 50px;
height: 210px;
border: white solid 1px;
box-shadow: 5px 10px hsla(0, 0%, 33%, 0.548) ;
border-radius: 10px;
}
.container .products > * img {
max-width: 100%;

  padding: 1rem 0;
}
.shoppingCartApp {
  display: none;
}
.cartItem {
  
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 6rem 0 8rem;
}
.cartInfo > * {
  margin-bottom: 1rem;
}
.item img {
  max-width: 15rem;
  width: 100%;
}
.item .buttons-action {
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}
input[type='number'] {
  height: 30px;
}
input[type='number']:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
  cursor: pointer;

}
